@model HQTCSDL.Demo.Models.Taixe

@{
    ViewData["Title"] = "Details";
}

<h1>Thông tin chi tiết</h1>

<div>
    <h4>Taixe</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoTen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoTen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cmnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cmnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DienThoai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DienThoai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BienSoXe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BienSoXe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KvhoatDong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KvhoatDong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stk)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenNganHang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenNganHang)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaTx">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
