@model IEnumerable<HQTCSDL.Demo.Models.Taixe>

@{
    ViewData["Title"] = "Index";
}

<h1>Thông tin tài xế</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HoTen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cmnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DienThoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaChi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BienSoXe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KvhoatDong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenNganHang)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cmnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DienThoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BienSoXe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KvhoatDong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stk)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenNganHang)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaTx">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaTx">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaTx">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
