@model HQTCSDL.Demo.Models.Hopdong

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Hopdong</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayLap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayLap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayHetHan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayHetHan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hoahong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hoahong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaCnNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaCnNavigation.MaCn)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaHd">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
